p {
    font-size: 18px;
    text-align: center;
    text-indent: 60px;
}
h1 {
    text-align: center;
    color:white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.peter {
    color: #FF7F50;
}
.dana {
    color: #DE3163;
}
.mayor {
    color: #8F6FD7;
}
.ray {
    color: #6495ED
}
.egon {
    color: #40E0D0;
}
.winston {
    color: #58C664;
}
.stage {
    font-style: italic;
    text-indent: 0;
    color: #E2E2E2;
}