body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#000000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}
main{
    margin-top: 3%;
}
h1{
    font-size: 70px;
    line-height: 0px;
}
h2 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8%;
}
img {
    width: 100%;
    margin-bottom: 5%;
}
.album {
    font-size: 16px;
    float: right;
    width: 40%;
    padding: 5%;
}
.singer {
    font-style: italic;
    color: #C6C6C6;
}
