header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1rem;
    text-transform: uppercase;
}

h1,h2{
    font-weight: 300;
}

img{
    width: 100%;
}

.cast li{
    width:25%;
}

.shows h1{
    border-top:1px solid black;
}

.selected{
    font-weight: 800;
    color: black;
}

.shows li div{
    font-size: .8rem;
}

.shows li div:first-of-type{
    font-weight: 800;
}

.shows li div:nth-of-type(2){
    font-style: italic;
}

#game-of-thrones li:last-of-type::after{
    content:"*"
}

#game-of-thrones ul::after{
    display: block;
    content: "* final season";
    color: #999;
    font-size: 0.7rem;
}

