html {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 15pt;
    margin: 10%;
    line-height: 1.2em;
}

section{
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
}
h1{
    color: #000000;
    font-weight: 300;
    line-height: 1.2em;
}

h2{
    color: #8a8a8a;
    margin-bottom: 3%;
    font-weight: 800;
    line-height: 1em;
}

p{
    margin-block-start: 0.3em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

code{
    font-size: 12;
    color: #f55345;
}

.light{
    font-weight: 300;
}

.heavy{
    font-weight: 800;
}

.italic{
    font-style: italic;
}

.em{
    letter-spacing: 0.5em;
}

.negem{
    letter-spacing: -0.05em;
}

.overline{
    text-decoration: overline;
}

.strikethrough{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.lowercase{
    text-transform: lowercase;
}


